@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

* {
  @apply font-sans;
  /* @apply mx-10; */
}

.pad{
  @apply px-40;
}
/* tailwind.css or index.css (if using tailwind JIT) */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite; /* Adjust timing as needed */
}
